// tamaño de fuente
$font-size-0: 0.8rem; //12.8px
$font-size-1: 1rem; //16px
$font-size-2: 1.5rem; //24px

// espaciados
$sp0: 0.5rem; //8px
$sp1: 1rem; //16px
$sp2: 2rem; //32px
$sp3: 2.5rem; //40px
$sp4: 3rem; //48px
$sp5: 4rem; //64px
$sp6: 6rem; //96px

// colores inputs
$default-border-color: #dbdbdb;
$hover-border-color: #b5b5b5;
$focus-border-color: #3273dc;
$invalid-border-color: #ff0000;
$valid-border-color: #00d1b2;

// colores botón
$background-color-btn: #00d1b2;
$hover-background-color: #00c4a7;
$active-background-color: #00b89c;

// colores imagenes
$backgroun-color-img-index: #ebd0d3;
$backgroun-color-img-login: #00d1b2;

// colores links
$link-color: #3273dc;
$hover-link-color: #363636;
