.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 57, 63);
    align-items: center;
}
@media (max-width: 600px){
    .container{
        padding-bottom: 4rem;
    }
}