:root{
  --primaryColor:black;
  --secondaryColor:#1B1B1B;
  --primaryFontColor:white;
  --fontFamily:'Poppins', sans-serif;
  
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  background-color: rgb(240, 239, 239);
  min-height: 100vh;
}

/* HEADER */



header {
  padding: 2rem;
  background-color:var(--primaryColor);
  background-image: url(images/cat-694730_1920.jpg);
  text-align: center;
  background-position: center;
  position: relative;
}
.mention {
  position: absolute;
  color: var(--primaryFontColor);
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 0.5rem;
}
.main-title {
  font-family: 'Architects Daughter', cursive;
  display: inline-block;
  padding: 2.5rem;
  border-radius: 1rem;
  font-size: 5rem;
  color: var(--primaryFontColor);
}

.fa-paw {
  font-size: 3rem;
}

.tabs a{
text-align: center;
margin: 1rem 0.5rem;
color: white;
border-bottom: 1px solid var(--secondaryColor);
}


#list-container {
  border-bottom:none ;
  display: flex;
}



#list-container li.is-active a {
  background-color:var(--secondaryColor);
  color:var(--primaryFontColor);
  border-radius: 0.5rem;  
  border: none;
}



/* 

RANDOM CAT CONTAINER

*/


.random-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 2rem;

}
.random-cat-container {
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 20px gray;
  background-color: var(--secondaryColor);
  border-radius: 5px;
}

#random-cat-btn {
  background-color:var(--secondaryColor) ;
  width: fit-content;
  align-self: center;
  text-align: center;
  box-shadow: 5px 5px 10px gray;
}










/* 

BREEDS

*/


#breed-dropdown {
  border: 1px solid var(--primaryColor);
  color: var(--primaryFontColor);
  background-color: var(--secondaryColor);
}
.breed-card-container::after {
  border-color:var(--primaryColor);
}
#breed-card {
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
  margin: 2rem 0;
}

.breed-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.breed-card-text {
  color: var(--primaryFontColor);
  padding: 1.25rem;
  text-align: center;
}
#breed-name {
  color: var(--primaryFontColor);
  border-bottom: 1px solid var(--secondaryColor);
  ;
}
#breed-temperament {
  display: flex;
  justify-content: center;
}
#breed-temperament .tag  {
  background-color: var(--secondaryColor);
  color: var(--primaryFontColor);
  border: 1px solid white;
}


/* 

BREEDS SEARCH

*/

#breed-search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
#breed-search-input{
border: 2px solid var(--primaryColor);  
background-color: var(--secondaryColor);
padding: 1.2rem;
}
#breed-search-results a {
  text-decoration:none;
  color: var(--primaryColor);
}

#breed-search-input::placeholder, #breed-search-input {
  color: var(--primaryFontColor);
  font-size: 1rem;
  font-family: var(--fontFamily);
}
#breed-search-btn {
  background-color: var(--secondaryColor);
  font-family: var(--fontFamily);
  border: 2px solid var(--secondaryColor);
  font-size: 1rem;
  width: min-content;



}



/* 

BREEDS FILTER

*/


.filterContainer {
text-align: center;
}

.checkbox-filter {
background-color: var(--secondaryColor);
color: var(--primaryFontColor);
padding: 0.5rem;
margin-bottom: 1rem;
border-radius: 5px;
display:block;
width: 200px;
}

.filter-card {
  background-color: var(--secondaryColor);
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}
.filter-card-title {
  color: var(--primaryFontColor);
  font-weight: 400;
  
}







/*


GENERAL MOD.


*/
.image,
.image img {
  height: 100%;
  object-fit: cover;
}











