@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

$very-pale-cyan: hsl(193, 100%, 96%);
$color-dark-green: hsl(192, 100%, 9%);

$grayish-blue: hsl(208, 11%, 55%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$bg-color-pink: hsl(322, 100%, 66%);
$grey: hsl(213, 4%, 51%);
$bckgrey: hsl(0, 0%, 96%);

$font-family-poppins: "Poppins";
$font-family-open-sans: "Open Sans";
