$text-color: #444751;

$button-border: #c7c9cf;
$button-text: #363940;

$middle-grey: #949494; /*(categorías, subtítulos, fechas, form)*/
$middle-grey-blue: #818592; /*(botón nav active)*/
$dark-grey: #363940; //(títulos, botones)
$very-dark-grey: #222222; //(titulo secciones)

$line-ligthgrey: #f0f0f0; //linea que separa todo

$yellow-bg: #fbf9e7; //ingredientes

$blue-bg: #eff4f7; // aside

$link-color: #4398be; // links azules
