.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    color: rgb(220, 221, 222);
    margin: 0 1.5rem;
}

.link:active,
.link:focus {
    color: rgb(33, 150, 243);
}

.svg {
    width: 2.3rem;
    display: inline-block;
}

.svgmovie {
    width: 2.7rem;
    padding-top: .2rem;
    display: inline-block;
}
@media (max-width: 600px){
    .container{
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-around;
    text-align: center;
    z-index: 99;
    background: black;
    padding: 5px 0px;
    }
}