a {
    text-decoration: none;
}

.icon {
    font-size: 2.2rem;
    color: rgb(220, 221, 222);
    margin: 1rem .5rem 0 0;
    transition: all 0.3s ease 0s;
}

.icon:hover {
    color: rgb(33, 150, 243);
    transform: scale(1.05);
}